.mentor_page{
    background-color: rgba(202, 177, 213, 0.54);
    border-radius: 10px 5%;
}
.mentor_table,  table, th, td{
    background-color: aqua;
    background: #ffffff;
    border-color: blue;
    border: 1px solid black;
    border-collapse: collapse;
}
.mentor_profile{
    border-radius: 10px;
}

.caja {
    border: 2px solid;
    border-radius: 25px;
    background-color: rgba(231, 93, 8, 0.65);
}

.mentor_list {
    border: 2px solid;
    border-color: black;
    border-radius: 10px;
    background-color: rgba(27, 102, 255, 0.65);
    padding: 70px 0px 70px 0px;
    margin-top:20px;
}

.titulo{
    border: 2px solid;
    background-color: rgba(229, 92, 8, 0.32);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}

.caja_centro{
    border: 2px solid;
    background-color: rgba(231, 93, 8, 0.65);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.caja_baja{
    border: 2px solid;
    background-color: rgba(229, 92, 8, 0.65);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}